<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_black_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,53},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>img_black_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,104},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>img_black_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,104},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>img_black_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,104},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>img_black_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,53},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>img_black_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,53},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>img_black_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,104},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>img_black_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,53},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>img_black_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>img_black_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,53},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>img_black_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,53},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>img_black_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,104},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>img_black_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,104},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>img_black_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,232},{169,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,202}}</string>
                <key>sourceSize</key>
                <string>{169,202}</string>
            </dict>
            <key>img_black_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,436},{169,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,202}}</string>
                <key>sourceSize</key>
                <string>{169,202}</string>
            </dict>
            <key>img_black_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,232},{169,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,202}}</string>
                <key>sourceSize</key>
                <string>{169,202}</string>
            </dict>
            <key>img_black_bh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{120,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,126}}</string>
                <key>sourceSize</key>
                <string>{120,126}</string>
            </dict>
            <key>img_black_bm.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,232},{120,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,126}}</string>
                <key>sourceSize</key>
                <string>{120,126}</string>
            </dict>
            <key>img_black_sh.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,2},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>img_black_sm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>img_pai_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,640},{196,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,260}}</string>
                <key>sourceSize</key>
                <string>{196,260}</string>
            </dict>
            <key>img_paibei.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,640},{196,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,260}}</string>
                <key>sourceSize</key>
                <string>{196,260}</string>
            </dict>
            <key>img_red_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>img_red_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>img_red_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>img_red_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>img_red_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>img_red_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>img_red_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,53},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>img_red_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,53},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>img_red_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,53},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>img_red_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,53},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>img_red_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>img_red_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>img_red_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>img_red_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{169,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,202}}</string>
                <key>sourceSize</key>
                <string>{169,202}</string>
            </dict>
            <key>img_red_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,436},{169,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,202}}</string>
                <key>sourceSize</key>
                <string>{169,202}</string>
            </dict>
            <key>img_red_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{169,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,202}}</string>
                <key>sourceSize</key>
                <string>{169,202}</string>
            </dict>
            <key>img_red_bf.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,104},{120,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,126}}</string>
                <key>sourceSize</key>
                <string>{120,126}</string>
            </dict>
            <key>img_red_bh.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,104},{120,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,126}}</string>
                <key>sourceSize</key>
                <string>{120,126}</string>
            </dict>
            <key>img_red_sf.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>img_red_sh.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PDKPoker.png</string>
            <key>size</key>
            <string>{610,902}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20f7767997ee54ee9807238ae5fa3c0c:645ab32d54dc4fd56924b70fab2214ad:c63e2d07093eb4614ddcf8abde036f64$</string>
            <key>textureFileName</key>
            <string>PDKPoker.png</string>
        </dict>
    </dict>
</plist>
