<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_autumn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{0,0},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_bamboo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{75,0},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_chrysanthemum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{150,0},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{225,0},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_joker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{300,0},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_nothing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{0,107},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_orchid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{75,107},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_plum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{150,107},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{225,107},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_spring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{300,107},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_summer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{0,214},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{75,214},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_winter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{150,214},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Z_my.png</string>
            <key>size</key>
            <string>{375,321}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:907de3c787ebd656171cc127b5e39533:f4cc62c94b2788ed827454c784acbf9d:3e01af5d1890d147b8fc67e672890a80$</string>
            <key>textureFileName</key>
            <string>Z_my.png</string>
        </dict>
    </dict>
</plist>
