<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_autumn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{0,0},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_bamboo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{75,0},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_bamboo_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{150,0},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_bamboo_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{225,0},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_bamboo_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{300,0},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_bamboo_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{375,0},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_bamboo_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{0,107},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_bamboo_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{75,107},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_bamboo_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{150,107},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_bamboo_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{225,107},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_bamboo_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{300,107},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_character_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{375,107},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_character_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{0,214},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_character_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{75,214},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_character_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{150,214},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_character_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{225,214},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_character_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{300,214},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_character_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{375,214},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_character_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{0,321},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_character_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{75,321},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_chrysanthemum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{150,321},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_dot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{225,321},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_dot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{300,321},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_dot_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{375,321},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_dot_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{0,428},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_dot_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{75,428},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_dot_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{150,428},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_dot_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{225,428},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_dot_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{300,428},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_dot_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{375,428},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{0,535},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_joker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{75,535},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_nothing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{150,535},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_orchid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{225,535},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_plum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{300,535},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{375,535},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_spring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{0,642},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_summer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{75,642},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{150,642},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_wind_east.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{225,642},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_wind_north.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{300,642},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_wind_south.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{375,642},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_wind_west.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{0,749},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_winter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{75,749},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_mj_b_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,107}</string>
                <key>spriteSourceSize</key>
                <string>{75,107}</string>
                <key>textureRect</key>
                <string>{{150,749},{75,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Z_bottom.png</string>
            <key>size</key>
            <string>{450,856}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e3625f5766f7d19a0531b68eaead1e6:c866bf86210e64915c277d1505903ee6:7a1c8c966651bd4d1df02e8986a22a5b$</string>
            <key>textureFileName</key>
            <string>Z_bottom.png</string>
        </dict>
    </dict>
</plist>
