<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>R_autumn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{0,0},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_bamboo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{68,0},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_bamboo_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{136,0},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_bamboo_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{204,0},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_bamboo_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{272,0},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_bamboo_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{340,0},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_bamboo_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{0,57},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_bamboo_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{68,57},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_bamboo_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{136,57},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_bamboo_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{204,57},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_bamboo_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{272,57},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_character_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{340,57},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_character_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{0,114},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_character_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{68,114},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_character_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{136,114},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_character_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{204,114},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_character_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{272,114},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_character_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{340,114},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_character_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{0,171},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_character_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{68,171},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_chrysanthemum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{136,171},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_dot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{204,171},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_dot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{272,171},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_dot_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{340,171},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_dot_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{0,228},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_dot_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{68,228},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_dot_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{136,228},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_dot_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{204,228},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_dot_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{272,228},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_dot_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{340,228},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{0,285},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_orchid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{68,285},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_plum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{136,285},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{204,285},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_spring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{272,285},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_summer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{340,285},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{0,342},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_wind_east.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{68,342},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_wind_north.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{136,342},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_wind_south.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{204,342},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_wind_west.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{272,342},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_winter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{340,342},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Z_right.png</string>
            <key>size</key>
            <string>{408,399}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:859e1520e214f589553b423bc4197712:2888a57c124060624f67c654ab1187b3:18809b76b5bc2f61a7b643644e2611be$</string>
            <key>textureFileName</key>
            <string>Z_right.png</string>
        </dict>
    </dict>
</plist>
