<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hd_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{65,87}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{65,87}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,468},{69,91}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{69,91}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,506},{71,93}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{71,93}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,466},{71,93}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{71,93}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,395},{71,93}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{71,93}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{71,93}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{71,93}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,395},{71,93}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{71,93}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,433},{71,93}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{71,93}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,393},{71,93}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{71,93}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,320},{73,95}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{73,95}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{73,95}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{73,95}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,320},{73,95}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{73,95}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,358},{73,95}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{73,95}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,318},{73,95}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{73,95}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,245},{73,95}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{73,95}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,283},{73,95}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{73,95}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,243},{73,95}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{73,95}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{73,97}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{73,97}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,206},{75,97}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{75,97}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,166},{75,99}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{75,99}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,166},{77,99}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{77,99}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{77,101}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{77,101}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{75,99}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{75,99}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,243},{75,99}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{75,99}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,164},{77,101}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{77,101}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,85},{77,103}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{77,103}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,101},{77,103}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{77,103}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{79,103}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{79,103}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,85},{79,103}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{79,103}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,83},{81,105}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{81,105}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{81,105}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{81,105}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{81,107}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{81,107}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{79,107}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{79,107}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,107}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{81,107}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
            <key>hd_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{65,87}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{65,87}}</string>
                <key>sourceSize</key>
                <string>{95,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activityBtnFrameAlats.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e762762fb485e7f136a768137486cb1a:1/1$</string>
            <key>textureFileName</key>
            <string>activityBtnFrameAlats.png</string>
        </dict>
    </dict>
</plist>
