<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biaoti_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{438,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,84}}</string>
                <key>sourceSize</key>
                <string>{438,84}</string>
            </dict>
            <key>changcheng_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,88},{302,240}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{302,240}}</string>
                <key>sourceSize</key>
                <string>{304,246}</string>
            </dict>
            <key>guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{63,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_fangka.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,330},{157,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,150}}</string>
                <key>sourceSize</key>
                <string>{159,150}</string>
            </dict>
            <key>shangcheng_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{128,316}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,316}}</string>
                <key>sourceSize</key>
                <string>{128,318}</string>
            </dict>
            <key>shangcheng_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,159},{126,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,71}}</string>
                <key>sourceSize</key>
                <string>{126,71}</string>
            </dict>
            <key>shangcheng_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,67},{90,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,50}}</string>
                <key>sourceSize</key>
                <string>{90,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ba6dab8e67deba871a40414426397ae:1/1$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
