<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L_autumn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{0,0},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_bamboo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{68,0},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_chrysanthemum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{136,0},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{204,0},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_joker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{272,0},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_nothing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{0,57},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_orchid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{68,57},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_plum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{136,57},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{204,57},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_spring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{272,57},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_summer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{0,114},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{68,114},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_winter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{136,114},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Z_left.png</string>
            <key>size</key>
            <string>{340,171}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:977ea34addee686d15929d2cc1f3a758:8ca51ead5c09fdcf67d0eedb4c9ef0d3:dc2a83265407cab3749d8e489496f4e4$</string>
            <key>textureFileName</key>
            <string>Z_left.png</string>
        </dict>
    </dict>
</plist>
